@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  width: 100%;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}